{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} XploreTube {% endblock %}</h1>
    <form method="post",action = {{url_for('index')}}>
    <form action={{url_for('index')}}>
        <i><p> Current Location : {{country}}, Choose : 
        <input type="submit" name="country" value="Canada">
        <input type="submit" name="country" value="Denmark">
        <input type="submit" name="country" value="France">
        <input type="submit" name="country" value="India">
        <input type="submit" name="country" value="USA">
        </p></i>
        <i><p> Filter :
        <input type="submit" name="filter" value="Most Viewed">
        <input type="submit" name="filter" value="Most Liked">
        <input type="submit" name="filter" value="Most Comments">
        <input type="submit" name="filter" value="Date of upload">
        </p></i>
    </form>
        <p>
            <label for="videoname">Video Name </label>
            <input type="text" name="videoname"
                   placeholder={{this_videoname}}>
            </input>
            <label for="channelname">Channel Name</label>
            <input type="text" name="channelname"
                   placeholder={{this_channelname}}>
            </input>
            <label for="tag">Tag</label>
            <input type="text" name="tag"
                   placeholder={{this_tag}}>
            </input>
            <button type="submit">Submit</button>
        </p>
    </form>
    {% for video in videos %}
        <div class='video'>
            <h4>#{{ video[0] }}</h4>
            <form action={{url_for('query')}}>
                <input type=hidden name="videoid" value={{ video[0] }}>
                <input type="submit" name="selected_event" value="Watch">
                <input type="submit" name="selected_event" value="Like">
                <input type="submit" name="selected_event" value="Dislike">
            </form>
            <h3>{{ video[1] }}</h3>
            <h4> by {{ video[2] }} </h4>
            <i><p>(upload date: {{ video[3] }} )</p></i>
            <h5> Description </h5>
            <p class='details'>{{ video[4] }}</p>
            <h5> Tags </h5>
            <p class='details'>{{ video[8] }}</p>
            <i><p>(Views : {{video[5]}}, Likes : {{video[6]}}, Dislikes : {{video[7]}})</p></i>
        </div>
    {% endfor %}
    <h4> x--------No More Results!!---------x</h4>
{% endblock %}
