{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} {{title}} {% endblock %}</h1>
    <h3> Current Username : {{username}} </h3>
    {% for video in videos %}
        <div class='video'>
            <h4>#{{ video[0] }}</h4>
            <form action={{url_for('query')}}>
                <input type=hidden name="videoid" value={{ video[0] }}>
                <input type=hidden name="channel_title" value="{{ video[2] }}">
                <input type=hidden name="page_type" value = "3">
                <input type="submit" name="selected_event" value="Watch">
                <input type="submit" name="selected_event" value="Like">
                <input type="submit" name="selected_event" value="Dislike">
            <h3>{{ video[1] }}</h3>
            <h4> by {{ video[2] }} </h4>
            <i><p>(upload date: {{ video[3] }} )</p></i>
            <h5> Description </h5>
            <p class='details'>{{ video[4] }}</p>
            <h5> Tags </h5>
            <p class='details'>{{ video[8] }}</p>
            <i><p>(Views : {{video[5]}}, Likes : {{video[6]}}, Dislikes : {{video[7]}})</p></i>
            <input type="text" name="comment" placeholder="Comment here: "> <input type="submit" name="selected_event" value="Comment">
            </form> 
        </div>
    {% endfor %}
{% endblock %}